{% import "components/icons.html" as icons %}

<div class="SocialIcons {{ modifierClass }}">
  <a href="https://twitter.com/manuscriptteam" class="SocialIcons__item">{{icons.twitter('SocialIcons__image') }}</a>
  <a href="https://www.linkedin.com/company/fog-creek-software/" class="SocialIcons__item">{{icons.linkedin('SocialIcons__image') }}</a>
  <a href="https://www.facebook.com/fogcreeksoftware" class="SocialIcons__item">{{icons.facebook('SocialIcons__image') }}</a>
  <a href="https://medium.com/make-better-software" class="SocialIcons__item">{{icons.medium('SocialIcons__image') }}</a>
</div>
